@mixin medium {
  @media (min-width: 674px) {
    @content;

    .obsheader-inner {
      height: auto;
    }
    .obsheader-center {
      text-align: center;
    }
    .container {
      margin-left: auto;
      margin-right: auto;
      max-width: 633px;
    }
    .grid-2-small-1 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .firstphoto {
        width: calc(100% / 3 * 2 - -2rem - -2.99px);
      }
    }
    .grid-filinfo {
      width: calc(100% / 3 - 2.3rem - 0.01px);
    }
    .titrefilinto {
      position: relative;
      overflow: hidden;
      font-size: 2.5rem;
      border: 0;
      text-align: center;
      margin: 0;
    }
    .titrefilinto-main span {
      padding: 0 1rem;
    }
    .titrefilinto-main ul {
      margin-bottom: 0;
      li {
        margin-bottom: 0.5rem;
      }
    }
    .titrefilinto-main span {
      padding: 0 1rem;
    }
    .grid-3-small {
      margin-left: -1.65rem;
      margin-right: -1.65rem;
    }
    [class*=" grid-"] {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

@mixin large {
  @media (min-width: 767px) {
    @content;

    .obsheader-inner {
      flex-wrap: wrap;
    }

    .obsheader-center {
      display: flex;
      justify-content: center;
      flex: 5;
    }
    .obsheader-right {
      width: auto;
    }
    .obsheader-biglogo {
      order: -1;
      float: auto;
      text-align: center;
      margin-bottom: 1.5rem;
      justify-content: center;
      padding-left: 0;
    }
    .obsheader-biglogo-1p {
      height: 60px;
    }
    .obsheader-nav {
      display: block;
      opacity: 1;
      transition: opacity 2s;
      height: 3.5rem;
      overflow: hidden;
      padding-left: 15.7rem;
    }
    .obsheader-nav ul {
      display: inline-block;
      list-style: none;
      font-family: fantasy;
    }
    .obsheader-nav li {
      display: inline-block;
      list-style: none;
      padding-left: 22px;
    }
    .obsheader-user span {
      display: block;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.3rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .container {
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (min-width: 1024px) {
    .container {
      max-width: 966px;
      width: 100%;
    }
    .content-infos h2 {
      font-size: 2rem;
      padding: 1rem 3rem;
      line-height: 4.2rem;
    }
    .maincontainer {
      padding-top: 2rem;
    }
    .grid-2-small-1 {
      border: 0;
      .firstphoto {
        position: relative;
      }
    }
    .grid-filinfo {
      max-width: 300px;
    }
    .filinfo-all {
      position: relative;
      display: block;
      border: 1px solid #cccccc;
      border-top: none;
      margin-bottom: 3rem;
    }
    .titrefilinto {
      margin: 0.7rem 0 1.5rem;
      padding: 0;
    }
    .titrefilinto-main {
      display: inline;
      font-size: 2.5rem;
      line-height: initial;
      padding: 0;
    }
    .filinfo-all ul {
      border: 0;
      margin: 0 1rem;
      overflow: hidden;
    }
    .titrefilinto-main {
      display: inline;
      font-family: fantasy;
      font-size: 2.5rem;
      line-height: inherit;
      padding: 0;
    }
    .grid-3-small {
      border: 0;
      display: flex;
    }
    .grid-3-small .grid-col {
      max-width: 300px;
      border: 1px solid #cccccc;
    }
  }
}

body {
  background-color: green;

  @include medium {
    background-color: yellow;
  }

  @include large {
    background-color: rgb(224, 224, 224);
  }
}

* {
  box-sizing: inherit;
}
.main-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.obsheader-biglogo h1 {
  margin: 0;
  font-size: inherit;
  justify-content: center;
}
.obsheader-biglogo-1p {
  margin: 0;
  font-size: initial;
  height: 60px;
  justify-content: center;
}

.obsheader-inner {
  padding: 1.5rem;
  border-bottom: 1px solid #cccccc;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #cccccc;
}

.obsheader-nav li {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
}
.obsheader-center {
  display: none;
}
.obsheader-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.obsheader-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.obsheader-user a {
  align-items: center;
  display: flex;
}
.icon-login is-show {
  display: inline-block;
}
.bt-yellow {
  display: inline-block;
  padding: 0.8rem;
  margin-left: 1rem;
  line-height: 0.5rem;
  border: none;
  border-radius: 3rem;
  background-color: #e9d363;
}
.maincontainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
.container {
  position: relative;
  background-color: #fff;
  margin: 2rem 1.5rem;
}
section {
  display: block;
}
article {
  display: block;
}
.firstphoto {
  position: relative;
}
img {
  height: auto;
  border-style: none;
  vertical-align: middle;
}
.content-infos {
  position: relative;
  margin: -5rem 2.5rem 2px;
  background-color: #fff;
  margin-right: 5rem;
}
.imgoldwoman {
  position: relative;
}
.titrefilinto {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border-top: 1px solid #c4c4c4;
  text-align: center;
  padding: 2rem 0;
  margin: 0 1.65rem;
}
.titrefilinto-main ul {
  margin-bottom: 0;
}
.li {
  display: list-item;
}
a {
  text-decoration: none;
}
.habillagepub {
  margin-top: 185px;
}
.grid-3-small li {
  margin-bottom: 3rem;
  margin-right: 31px;
  padding: 19px;
  .grid-col {
    margin-bottom: 3rem;
  }
}
.content-infostxt {
  text-align: center;
}
.content-img {
  position: relative;
}
.content-infostxt {
  position: relative;
  margin: -2.5rem 0.5rem 0;
  background-color: white;
}
